@use '../base/variables' as v;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border-radius: v.$radius-md;
    font-family: v.$font-primary;
    font-size: v.$fs-sm;
    font-weight: v.$fw-semibold;
    text-decoration: none;
    transition: all v.$transition-base;
    cursor: pointer;

    &--primary {
        background-color: v.$color-primary;
        color: v.$color-dark;   
            box-shadow: 6px 10px 30px rgba(0, 198, 248, 0.3);

        &:hover {
            background-color: v.$color-secondary;
            transform: translateY(-2px);
        }
    }

    &--ghost {
        background-color: transparent;  
        color: v.$color-light;
        border: 1px solid rgba(255, 255, 255, 0.15);
        box-shadow: none;


        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            transform: translateY(-2px);
        }
    }
}